* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: linear-gradient(45deg, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 49%);
  // background-image: url('/images/back.png');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}
